/* {
   outline: 1px solid red !important;
   border: 1px solid red !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;

}
*/



.main_img {
	display: block;
	
}


	
.head_icons {
	direction: rtl;
	width: 16.666%;
	height: 32px;

	
	}
	
.main_img {
	width: 100%;
}


}


img {
	display: inline-block;
	}
	
div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
