 /*div {
   outline: 1px solid red !important;
   border: 1px solid red !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;

*/


.nav-social > li {
   list-style-type: none;
   float: right;
   padding-left: 10px;
}

.nav-social > li > a {
   list-style-type: none;
  background-color: #f5f5f5;
  color: #777;

}

.nav-social {
   display: inline;
}

@media (max-width: 768px) {
   /* handling the mobile view for the social icons */
  .nav-social > li{
    list-style-type: none;
    color: #777;
    padding-right:10px;
    padding-left:0px;
    float:left;
  }
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.aboutme {
   padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top:100px;
  color: inherit;
  background-color: #eee;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}





